:root {
  --font-family: 'Montserrat', sans-serif;
  --color-accent: #ff6b09;
  --color-blackout: #ffffff;
  --color-primary: #111518;
  --color-secondary: #b9b9b9;
  --color-reviews: #3d3d3d;
  --background-dark-section: #111518;
  --background-light-section: #e5e5e5;
  --background-guarantee-section: #f1f1f1;
  --background-button: #ff6b09;
  --latter-spacing-primary: 0.08em;
  --latter-spacing-secondary: 0.08em;
  --latter-guarantee-section: 0.06em;
  --latter-button: 0.14em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.current {
  color: #ff6b09;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #212121;
  text-decoration: none;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.08em;
}

h1,
h2 {
  font-weight: 800;
  letter-spacing: 0.03em;
  /*-
font-size: px;
line-height: ;
color: ;
--*/
}

button {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.14em;
  text-align: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1680px) {
  .container {
    width: 1680px;
  }
}

.guarantee {
  background-color: #fff;
}

.guarantee-title {
  font-weight: 800;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 40px;
}

.guarantee__list {
  padding: 40px 20px 40px 27px;
  background-color: #F1F1F1;
}

.guarantee__list-item {
  position: relative;
  padding-left: 28px;
}

.guarantee__list-item-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #3D3D3D;
}

.guarantee__description-color {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #FF6B09;
}

.guarantee__list-item:not(:last-child) {
  padding-bottom: 24px;
  border-left: 1px dashed #B9B9B9;
}

.guarantee__list-item::before {
  content: url("../../images/campfire.svg");
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 20px;
  fill: #FF6B09;
  left: -8px;
}

@media screen and (min-width: 768px) {
  .guarantee__list-item:not(:last-child) {
    padding-bottom: 20px;
  }
  .guarantee__list {
    padding: 32px 58px 32px 94px;
  }
  .guarantee__list-item {
    padding-left: 32px;
  }
}

@media screen and (min-width: 1680px) {
  .guarantee-title {
    font-size: 46px;
  }
  .guarantee__list {
    padding: 60px 278px 60px 291px;
  }
  .guarantee__list-item-description {
    font-size: 20px;
    line-height: 1.4;
  }
  .guarantee__description-color {
    font-size: 20px;
    line-height: 1.4;
  }
  .guarantee__list-item::before {
    width: 22px;
    height: 30px;
    left: -11px;
  }
}
/*# sourceMappingURL=main.css.map */