<section class="contacts" id="contacts">
    <div class="container">
      <h2 class="contacts__registration">
      Registration for a <span class="contacts__accent-color">free</span> phone 
      <span class="contacts__accent-color">consultation</span> on the nuances of English UPE
      </h2>
      <form class="contacts__form">
      <p class="contacts__request">
      Leave a request for participation in a  <span class="contacts__accent-color">free lesson</span>. <br />
      A consultant will contact you and answer your questions </p>
      <div class="contacts__form-container">
          <input type="text" 
          class="contacts__form-input" 
          name="name" 
          placeholder="Name*" 
          pattern="[A-Za-zА-Яа-я]"
          required
        />
          <input
            type="tel"
            class="contacts__form-input"
            name="number"
            placeholder="Phone*"
            pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
            maxlength="13"
            required
          />
        </div>
      </form>
      <div class="contacts__button-container">
        <button class="contacts__btn" type="submit">I want a free lesson</button>
      </div>

    </div>
  </section>