<footer class="footer">
  <div class="footer__white-section">
      <div class="container footer__container">

        <a href="./index.html" class="footer__logo link">
          <svg class="footer__logo-light" width="80" height="29">
            <use href="./images/sprite-icons.svg#logo-light"></use>
          </svg>
        </a>

          <div class="footer__contacts">
              <a class="phone-number" href="tel:+380000000000">
                  <svg class="icon-phone">
                      <use href="/images/sprite-icons.svg#icon-telephone"></use>
                  </svg>
                  +38 (000) 000 00 00</a>
              <a class="social-link" href="https://www.instagram.com/">
                  <svg width="25" height="25">
                      <use href="/images/sprite-icons.svg#icon-instagram"></use>
                  </svg>
              </a>
          </div>
          
      </div>

  </div>
  <div class="footer__black-section">
      <div class="container">
          <p class="footer__text">@ All rights reserved, 2019</p>
      </div>
  </div>
</footer>