<header class="header">
  <div class="header-container container">
    <a href="./index.html" class="logo link">
      <svg class="logo-light">
        <use href="./images/sprite-icons.svg#logo-light"></use>
      </svg>
    </a>

    <div class="header-nav">
      <ul class="nav-list list">
        <li class="nav-list__item">
          <a href="#studying" class="nav-list__link link">studying program</a>
        </li>
        <li class="nav-list__item">
          <a href="#about" class="nav-list__link link">about</a>
        </li>
        <li class="nav-list__item">
          <a href="#options" class="nav-list__link link">training options</a>
        </li>
        <li class="nav-list__item">
          <a href="#information" class="nav-list__link link">contacts</a>
        </li>
      </ul>

      <div class="nav-button">
        <button type="button" class="nav-button-item" data-modal-open>consultation by phone</button>
      </div>
    </div>

    <button type="button" class="mobile-menu-button" data-menu-open>
      <svg class="icon-burger-menu" width="21" height="12">
        <use href="/images/sprite-icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>

<div class="mobile-menu" data-menu>
  <div class="container">
    <div class="mobile-menu__container">
      <div class="mobile-header">
        <a href="./index.html" class="logo link">
          <svg class="logo-light" width="80" height="29">
            <use href="./images/sprite-icons.svg#logo-dark"></use>
          </svg>
        </a>
        <button type="button" class="mobile-menu__close-button" data-menu-close>
          <svg class="mobile-menu__close-icon" width="20px" height="20px">
            <use href="./images/sprite-icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="mobile-nav">
      <ul class="mobile-nav-list list">
        <li class="mobile-nav-list__item">
          <a href="#studying" class="mobile-nav-list__link link">studying program</a>
        </li>
        <li class="mobile-nav-list__item">
          <a href="#about" class="mobile-nav-list__link link">about</a>
        </li>
        <li class="mobile-nav-list__item">
          <a href="#options" class="mobile-nav-list__link link">training options</a>
        </li>
        <li class="mobile-nav-list__item">
          <a href="#information" class="mobile-nav-list__link link">contacts</a>
        </li>
      </ul>
      <button type="button" class="mobile-button">consultation by phone</button>
    </div>
  </div>
</div>
