<section class="program">
  <div class="program__wrapper">
    <h2 class="program__title">Our program</h2>
    <ul class="program__list">
      <li class="program__list-item"></li>
      <li class="program__list-item"></li>
    </ul>
    <ul class="program__list">
      <li class="program__list-item"></li>
      <li class="program__list-item"></li>
    </ul>
    <ul class="program__list">
      <li class="program__list-item"></li>
      <li class="program__list-item"></li>
      <li class="program__list-item"></li>
    </ul>
    <ul class="program__list">
      <li class="program__list-item"></li>
      <li class="program__list-item"></li>
      <li class="program__list-item"></li>
    </ul>
    <ul class="program__list">
      <li class="program__list-item"></li>
    </ul>
  </div>
</section>
