<section class="program">
  <h2 class="program__title">Our program</h2>
  <div class="program__wrapper container">
    <!-- LIST-1 -->
    <ul class="program__list">
      <li class="program__list-title">1 semester</li>
      <li class="program__list-item">
        <h3 class="list-item__name">— Grammar</h3>
        <p class="list-item__theme">Nouns & Articles</p>
        <p class="list-item__theme">Adjectives & Adverb</p>
      </li>
      <li class="program__list-item">
        <h3 class="list-item__name">— Vocabulary</h3>
        <p class="list-item__theme">Family & Relations</p>
        <p class="list-item__theme">People & Society</p>
      </li>
    </ul>

    <!-- LIST-2 -->
    <ul class="program__list">
      <li class="program__list-title">2 semester</li>
      <li class="program__list-item">
        <h3 class="list-item__name">— Grammar</h3>
        <p class="list-item__theme">Pronouns</p>
        <p class="list-item__theme">Active Voice</p>
        <p class="list-item__theme">Passive Voice</p>
      </li>
      <li class="program__list-item">
        <h3 class="list-item__name">— Vocabulary</h3>
        <p class="list-item__theme">Home</p>
        <p class="list-item__theme">School</p>
        <p class="list-item__theme">Work</p>
      </li>
    </ul>

    <!-- LIST-3 -->
    <ul class="program__list">
      <li class="program__list-title">3 semester</li>
      <li class="program__list-item">
        <h3 class="list-item__name">— Grammar</h3>
        <p class="list-item__theme">Modal verbs</p>
        <p class="list-item__theme">Infinitive</p>
        <p class="list-item__theme">Gerund</p>
        <p class="list-item__theme">Participle: 1, 2</p>
      </li>
      <li class="program__list-item">
        <h3 class="list-item__name">— Vocabulary</h3>
        <p class="list-item__theme">Travel & Tourism</p>
        <p class="list-item__theme">Culture & Free Time</p>
        <p class="list-item__theme">Sport</p>
      </li>
      <li class="program__list-item">
        <h3 class="list-item__name">— Writing</h3>
        <p class="list-item__theme">Informal Letter</p>
      </li>
    </ul>

    <!-- LIST-4 -->
    <ul class="program__list">
      <li class="program__list-title">4 semester</li>
      <li class="program__list-item">
        <h3 class="list-item__name">— Grammar</h3>
        <p class="list-item__theme">Clauses: Conditional and Wishes</p>
        <p class="list-item__theme">Direct / Reported speech</p>
        <p class="list-item__theme">Preposition</p>
        <p class="list-item__theme">Conjunction</p>
        <p class="list-item__theme">Numeral</p>
      </li>
      <li class="program__list-item">
        <h3 class="list-item__name">— Vocabulary</h3>
        <p class="list-item__theme">Healthy Living</p>
        <p class="list-item__theme">Nature & Environment</p>
        <p class="list-item__theme">Money</p>
      </li>
      <li class="program__list-item">
        <h3 class="list-item__name">— Writing</h3>
        <p class="list-item__theme">Formal Letter</p>
      </li>
    </ul>

    <!-- LIST-5 -->
    <ul class="program__list">
      <li class="program__list-title">5 semester</li>
      <li class="program__list-item">
        <h3 class="list-item__name">—</h3>
        <p class="list-item__theme">Revision</p>
        <p class="list-item__theme">Tests</p>
      </li>
    </ul>

    <!-- IMAGE -->
    <picture class="program__picture">
      <source
        srcset="
          ./images/program/desktop-program.webp    1x,
          ./images/program/desktop-program@2x.webp 2x
        "
        media="(min-width: 1680px)"
        type="image/webp"
      />
      <source
        srcset="./images/program/desktop-program.jpg 1x, ./images/program/desktop-program@2x.jpg 2x"
        media="(min-width: 1680px)"
      />
      <source
        srcset="./images/program/tablet-program.webp 1x, ./images/program/tablet-program@2x.webp 2x"
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="./images/program/tablet-program.jpg 1x, ./images/program/tablet-program@2x.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/program/mobile-program.webp 1x, ./images/program/mobile-program@2x.webp 2x"
        media="(max-width: 767px)"
        type="image/webp"
      />
      <source
        srcset="./images/program/mobile-program.jpg 1x, ./images/program/mobile-program@2x.jpg 2x"
        media="(max-width: 767px)"
      />

      <img
        class="program__picture-img"
        src="./images/program/mobile-program.jpg"
        alt="tutor watch as students write"
      />
    </picture>
  </div>
</section>
