<section class="program">
  <div class="program__wrapper">
    <h2 class="program__title">Our program</h2>
    <ul class="program__list">
      <h3 class="program__list-title">1 semester</h3>
      <li class="program__list-item"></li>
      <li class="program__list-item"></li>
    </ul>
    <ul class="program__list">
      <h3 class="program__list-title">2 semester</h3>
      <li class="program__list-item"></li>
      <li class="program__list-item"></li>
    </ul>
    <ul class="program__list">
      <h3 class="program__list-title">3 semester</h3>
      <li class="program__list-item"></li>
      <li class="program__list-item"></li>
      <li class="program__list-item"></li>
    </ul>
    <ul class="program__list">
      <h3 class="program__list-title">4 semester</h3>
      <li class="program__list-item"></li>
      <li class="program__list-item"></li>
      <li class="program__list-item"></li>
    </ul>
    <ul class="program__list">
      <h3 class="program__list-title">5 semester</h3>
      <li class="program__list-item"></li>
    </ul>
  </div>
</section>
