<section class="section reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title">Feedback from graduates</h2>
    <article class="reviewer">
      <div class="reviewer__photo-link">
        <picture class="reviewer__photo">
          <source
            srcset="
              ./images/reviews/tablet-reviewer.png    1x,
              ./images/reviews/tablet-reviewer@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/reviews/mobile-reviewer.png    1x,
              ./images/reviews/mobile-reviewer@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="reviewer__photo-img"
            src="./images/reviews/mobile-reviewer.png"
            alt="Tonya Kucherovskaya"
          />
        </picture>
        <a class="reviewer__link" href="">
          <svg class="reviewer__icon" width="30" height="30">
            <use href="./images/sprite-icons.svg#vkontakte"></use>
          </svg>
        </a>
      </div>
      <div class="reviewer__progress">
        <h3 class="reviewer__name">Tonya Kucherovskaya</h3>
        <p class="reviewer__education">
          Graduated from 2015, National University of Bioresources and natural history of Ukraine
        </p>
        <p class="reviewer__review">
          In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
          friends because she was really worried about my success. She became an authority for me,
          but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
          I'm student ... <span class="reviewer__read">Read more</span>
        </p>
      </div>
    </article>
    <ul class="reviewer__list">
      <li class="list reviewer__list-item reviewer__list-item-mobile">
        <picture class="reviewer__list-photo">
          <source
              srcset="./images/reviews/reviewer1-desktop.jpg 1x, ./images/reviews/reviewer1-desktop@2x.jpg 2x"
              media="(min-width: 1680px)"
          />
          <source
              srcset="./images/reviews/reviewer1-tablet.jpg 1x, ./images/reviews/reviewer1-tablet@2x.jpg 2x"
              media="(min-width: 768px)"
          />
          <source
              srcset="./images/reviews/reviewer1-mobile.jpg 1x, ./images/reviews/reviewer1-mobile@2x.jpg 2x"
              media="(max-width: 767px)"
          />
          <img src="./images/reviews/reviewer1-desktop.jpg" alt="reviewer_photo" class="reviewer__item-img">
        </picture> 
      </li>
      <li class="list reviewer__list-item reviewer__list-item-mobile">
        <picture class="reviewer__list-photo">
          <source
              srcset="./images/reviews/reviewer2-desktop.jpg 1x, ./images/reviews/reviewer2-desktop@2x.jpg 2x"
              media="(min-width: 1680px)"
          />
          <source
              srcset="./images/reviews/reviewer2-tablet.jpg 1x, ./images/reviews/reviewer2-tablet@2x.jpg 2x"
              media="(min-width: 768px)"
          />
          <source
              srcset="./images/reviews/reviewer2-mobile.jpg 1x, ./images/reviews/reviewer2-mobile@2x.jpg 2x"
              media="(max-width: 767px)"
          />
          <img src="./images/reviews/reviewer2-desktop.jpg" alt="reviewer_photo" class="reviewer__item-img">
        </picture> 
      </li>
      <li class="list reviewer__list-item">
        <picture class="reviewer__list-photo">
          <source
              srcset="./images/reviews/reviewer3-desktop.jpg 1x, ./images/reviews/reviewer3-desktop@2x.jpg 2x"
              media="(min-width: 1680px)"
          />
          <source
              srcset="./images/reviews/reviewer3-tablet.jpg 1x, ./images/reviews/reviewer3-tablet@2x.jpg 2x"
              media="(min-width: 768px)"
          />
          <source
              srcset="./images/reviews/reviewer3-mobile.jpg 1x, ./images/reviews/reviewer3-mobile@2x.jpg 2x"
              media="(max-width: 767px)"
          />
          <img src="./images/reviews/reviewer3-desktop.jpg" alt="reviewer_photo" class="reviewer__item-img">
        </picture> 
      </li>
      <li class="list mobile-reviever reviewer__list-item">
        <picture class="reviewer__list-photo">
          <source
              srcset="./images/reviews/reviewer4-desktop.jpg 1x, ./images/reviews/reviewer4-desktop@2x.jpg 2x"
              media="(min-width: 1680px)"
          />
          <source
              srcset="./images/reviews/reviewer4-tablet.jpg 1x, ./images/reviews/reviewer4-tablet@2x.jpg 2x"
              media="(min-width: 768px)"
          />
          <!-- <source
              srcset="./images/reviews/reviewer4-mobile.jpg 1x, ./images/reviews/reviewer4-mobile@2x.jpg 2x"
              media="(max-width: 767px)"
          /> -->
          <img src="./images/reviews/reviewer4-desktop.jpg" alt="reviewer_photo" class="reviewer__item-img">
        </picture> 
      </li>
      <li class="list mobile-reviever reviewer__list-item">
        <picture class="reviewer__list-photo">
          <source
              srcset="./images/reviews/reviewer5-desktop.jpg 1x, ./images/reviews/reviewer5-desktop@2x.jpg 2x"
              media="(min-width: 1680px)"
          />
          <source
              srcset="./images/reviews/reviewer5-tablet.jpg 1x, ./images/reviews/reviewer5-tablet@2x.jpg 2x"
              media="(min-width: 768px)"
          />
          <!-- <source
              srcset="./images/reviews/reviewer5-mobile.jpg 1x, ./images/reviews/reviewer5-mobile@2x.jpg 2x"
              media="(max-width: 767px)"
          /> -->
          <img src="./images/reviews/reviewer5-desktop.jpg" alt="reviewer_photo" class="reviewer__item-img">
        </picture> 
      </li>
      <li class="list mobile-reviever reviewer__list-item">
        <picture class="reviewer__list-photo">
          <source
              srcset="./images/reviews/reviewer6-desktop.jpg 1x, ./images/reviews/reviewer6-desktop@2x.jpg 2x"
              media="(min-width: 1680px)"
          />
          <source
              srcset="./images/reviews/reviewer6-tablet.jpg 1x, ./images/reviews/reviewer6-tablet@2x.jpg 2x"
              media="(min-width: 768px)"
          />
          <!-- <source
              srcset="./images/reviews/reviewer6-mobile.jpg 1x, ./images/reviews/reviewer6-mobile@2x.jpg 2x"
              media="(max-width: 767px)"
          /> -->
          <img src="./images/reviews/reviewer6-desktop.jpg" alt="reviewer_photo" class="reviewer__item-img">
        </picture> 
      </li>
      <li class="list mobile-reviever reviewer__list-item">
        <picture class="reviewer__list-photo">
          <source
              srcset="./images/reviews/reviewer7-desktop.jpg 1x, ./images/reviews/reviewer7-desktop@2x.jpg 2x"
              media="(min-width: 1680px)"
          />
          <source
              srcset="./images/reviews/reviewer7-tablet.jpg 1x, ./images/reviews/reviewer7-tablet@2x.jpg 2x"
              media="(min-width: 768px)"
          />
          <!-- <source
              srcset="./images/reviews/reviewer7-mobile.jpg 1x, ./images/reviews/reviewer7-mobile@2x.jpg 2x"
              media="(max-width: 767px)"
          /> -->
          <img src="./images/reviews/reviewer7-desktop.jpg" alt="reviewer_photo" class="reviewer__item-img">
        </picture> 
      </li>
    </ul>
  </div>
</section>
