.problems {
padding: 0;
}
.problems__title-part {
background-color: var(--background-dark-section);
padding-top: 24px;
padding-bottom: 366px;
padding-left: 20px;
}
.problems__title {
font-family: var(--font-family);
font-size: 24px;
line-height: 1.30;
color: var(--color-blackout);
width: 280px;
}
.problems__accent-word {
color: var(--color-accent);
}
.problems__description-part {
background-color: var(--color-blackout);
margin-top: -342px;
margin-left: 20px;
margin-right: 20px;
padding-top: 20px;
padding-left: 32px;
padding-bottom: 24px;
box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
.problems__item:not(:last-child){
margin-bottom: 16px;
}
.problems__list{
counter-reset: list;
}
.problems__item::before {
counter-increment: list;
content: " — 0" counter(list);
color: var(--color-accent);
display: flex;
margin-bottom: 5px;
}
.problems__text {
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 1.43;
letter-spacing: 0.08em;
color: var(--color-primary);
display: inline-block;
max-width: 220px;
}


@media screen and (min-width:768px) {
.problems__title-part{
padding-top: 40px;
padding-left: 32px;
padding-bottom: 196px;
}
.problems__title{
width: 560px;
}
.problems__description-part {
margin-top: -171px;
margin-left: 32px;
margin-right: 32px;
}

.problems__list {
display: flex;
flex-wrap: wrap;
margin-left: -24px;
margin-top: -24px;
}
.problems__item:not(:last-child) {
margin-bottom: 0px;
}
.problems__item {
flex-basis: calc((100% - 48px) / 2);
margin-left: 24px;
margin-top: 24px;
}
}

@media screen and (min-width:1680px) {
.problems__title-part{
padding-left: 16px;
padding-top: 80px;
padding-bottom: 302px;
background: var(--background-dark-section) url('../images/advantages/bd-problems.svg') no-repeat right bottom;
}
.problems__title{
font-weight: 800;
font-size: 46px;
width: 900px;
}
.problems__description-part {
margin-top: -222px;
margin-right: 16px;
margin-left: 16px;
padding-top: 60px;
padding-left: 140px;
padding-bottom: 60px;
}
.problems__list {
margin-left: -25px;
margin-top: -25px;
}
.problems__item {
flex-basis: calc((100% - 75px) / 3);
margin-left: 25px;
margin-top: 25px;
}
.problems__text{
font-size: 20px;
line-height: 1.4;
max-width: 300px;
}
.problems__item::before {
font-weight: 700;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.08em;
margin-bottom: 8px;
}
}